<div
  class="current-stocks my-4 py-4 border-top border-bottom border-2 border-secondary border-opacity-25"
>
  <div class="row">
    <div class="gain col">
      <h4 class="fs-6">Today's Gains</h4>
      <div class="d-flex align-items-baseline justify-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-up-circle-fill text-success"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
          />
        </svg>
        <p class="fs-2 ms-1 text-success fw-bold">P6,000</p>
      </div>
    </div>
    <div class="loss col">
      <h4 class="fs-6">Today's Losses</h4>
      <div class="d-flex align-items-baseline justify-content-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-down-circle-fill text-danger"
          viewBox="0 0 16 16"
        >
          <path
            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"
          />
        </svg>
        <p class="fs-2 ms-1 text-danger fw-bold">-P5,000(10%)</p>
      </div>
    </div>
  </div>
</div>
